table {font-size: xx-small;}
table th {
	font-size: xx-small;
	page-break-inside: avoid;
}
table td {
	font-size: xx-small;
	page-break-inside: avoid;
}
tr {
    page-break-inside: avoid;
}
.tax-codes td {
    border-bottom: 1px black solid;
}
td.text-right {
    border-top: 1px solid black !important;
}